/**
 * @link      https://sbrdbry@bitbucket.org/sbrdbry/demo.git for the source repository
 * @copyright Copyright (c) 2017 Stuart Bradbury.
 */

/* This part of the code has been removed */

.App-header {
  background-color: #222;
  height: 140px;
  padding: 20px;
  padding-bottom: 0;
  margin-bottom: 0;
  color: white; 
  
  opacity: 0;
}

.App-header-top {
  background-color: #000;
  height: 30px;
}

/* This part of the code has been removed */

.App-footer-bottom {
  background-color: #000;
  height: 30px;
}

element.style {
  background: transparent;
}

div.row {
  background: transparent;
}

@media screen and (max-width: 768px){
	.App-header {
	  min-width: 361px;
	}
}