/**
 * @link      https://sbrdbry@bitbucket.org/sbrdbry/demo.git for the source repository
 * @copyright Copyright (c) 2017 Stuart Bradbury.
 */

.blog {
  font-family: 'Montserrat', sans-serif;
  color: #555;  
   
  background: black;
  padding-top: 20px;
}

.blog h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: normal;
  color: #fff;
}


.blog-header {
  padding-top: 20px;
  padding-bottom: 20px;
}
.blog-title {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 60px;
  font-weight: normal;
}
.blog-description {
  font-size: 20px;
  color: #fff;
}


/* This part of the code has been removed */

.angryqem {
  opacity: 0;
}


.pager {
  margin-bottom: 20px;
  text-align: left;
}

.pager > li > a {
  width: 100px;
  padding: 8px 16px;
  text-align: center;
  border-radius: 30px;
  
  background-color: transparent;
  border-color: #ccc;
}

.pager > li > a:hover {  
  background-color: #ccc;
  border-color: #fff;
  
  color: black;
}

.pager li {
    display:inline;
}


/* This part of the code has been removed */



