/**
 * @link      https://sbrdbry@bitbucket.org/sbrdbry/demo.git for the source repository
 * @copyright Copyright (c) 2017 Stuart Bradbury.
 */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;  
  background-color: #222;
}
